In [ ]:
truecaller = {
    "9848927500": "mani"
    "9989166557": "vinay"
def search number(phone_number):

In [3]:
num=10
if None:
    print("number is posituve")
print("this will print always")

this will print always

In [3]:
num=10
if(num>=10 or 10>num):
    print("number is positive")
else:
    print("fail")

number is positive

In [ ]:
num = 15
if(num>=10 and 20<=num):
    print("number is positive")

In [7]:
a = [10,20,30,40,50]

product = 2
for ele in a:
    product += ele
print(product)

152

In [12]:
# range
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [11]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [12]:
a = [1,2,3,4]
for data in a:
    print(data)
else:
    print("no data available in a")

1
2
3
4
no data available in a

In [ ]:
x = [2,4,6,10]
for data in x:
    print(data)
    if data % 2 == 0:
        print("data

In [ ]:
#None : dont allow to go in loop,no matter condiotion is true or false
#continue => continue statement only allow false condition to process (as per the body of the code, after continue stament)
#break => it come out from the loop once condiotion is true else it will execute in loop

In [2]:
x =[1,2,3,4,5]
for num in x:
    if num %2==0:
        print(num)
        continue
    print(num)
else:
    print("list data over")

1
2
3
4
5
list data over

In [7]:
for number in range(1, 10):
    if number == 5:
        break
    print(number)
print("loop ended")

1
2
3
4
loop ended

In [8]:
for number in range(1, 10):
    if number == 5:
        break
    print(number)

1
2
3
4

In [10]:
lst = ['one','two','three','four']
lst1 = ['five','six']
lst.append(lst1)
print(lst)

['one', 'two', 'three', 'four', ['five', 'six']]

In [16]:
# case : overhidden

lst=[1,2,3,4,5]
lst=[]
lst1=lst
lst1.append(9)
lst.append(3)
print(lst)
print(lst1)

[9, 3]
[9, 3]

In [18]:
# string split it create a list

lst = "i,am,learning,python"
lst2 = lst.split(',')
print(lst2)
print(type(lst2))
print(type(lst))

['i', 'am', 'learning', 'python']
<class 'list'>
<class 'str'>

In [19]:
# +sign add both lists

lst = [10,20,30,40,50]
lst1 = ["mani","vinay"]
lst2 = lst + lst1
print(lst2)

[10, 20, 30, 40, 50, 'mani', 'vinay']

In [21]:
 # list comprehensions this provides a concise way to create list
#without comprehensions

power = []
for i in range(10):
    power.append(i**2)
print(power)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
#with comprehension

power = [(i**2)for i in range(10)]
print(power)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [31]:
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,8,7,6]
]
transpose = []
for i in range(4):
    row = []
    for j in range(3):
        row.append(matrix[j][i])
    transpose.append(row)
print("Transposed matrix:")
for i in transpose:
    print(row)

Transposed matrix:
[4, 8, 6]
[4, 8, 6]
[4, 8, 6]
[4, 8, 6]

In [ ]:
Assignment 1
#using function and without function (transformation matrix)

In [27]:
# nested tuple

lst = (1,(2,3,8),['hi',9.8])
print(type(lst))
print(lst)
print(lst[1])
print(lst[1],[1])
lst[-1][1]

<class 'tuple'>
(1, (2, 3, 8), ['hi', 9.8])
(2, 3, 8)
(2, 3, 8) [1]

9.8

In [34]:
lst = ('hi', [1,'hello'],3.5,'hello')
lst[1][1] = 'bye'
lst[1][1]
lst

('hi', [1, 'bye'], 3.5, 'hello')

In [35]:
# repaet the element in tuple using * operator

lst=(('prwtech',) * 5)
print(lst)
print(len(lst))

('prwtech', 'prwtech', 'prwtech', 'prwtech', 'prwtech')
5

In [37]:
# in tuple we cannot delete or remove any element from tuple

lst = (1,2,3,4,5)
del lst

In [39]:
# tuple indexing
lst=(1,2,3,4,5,6,7,8,9)
lst.index(4)

3

In [44]:
lst = (1,2,3,4,5,6,7,8,9)
max(lst)

9

In [45]:
lst = (1,2,3,4,5)
sum(lst)

15

In [46]:
lst = (1,0,3,4)
min(lst)

0

In [48]:
import statistics as lst
lst.mean((1,2,3,4,5))

3

In [49]:
import math as lst
lst.factorial(6)

720

In [ ]:
SETS

its imutable we can add & remove data
used for union,intersection,etc....

In [51]:
lst = {1,2,3,4}
print(lst)
lst2 = list(lst)
print(type(lst))
print(type(lst2))
print(lst2[0])

{1, 2, 3, 4}
<class 'set'>
<class 'list'>
1

In [ ]:
Assignment2 
#share element of list

In [52]:
# add value in set

lst={1,2,5,3}
lst
lst.add(6)
lst
lst.update([7,10,3])
print(lst)

{1, 2, 3, 5, 6, 7, 10}

In [53]:
lst = {1,2,5,3}
lst.update([11,12,0],(15,8))
print(lst)
print(len(lst))

{0, 1, 2, 3, 5, 8, 11, 12, 15}
9

In [54]:
lst={1,2,5,3}
lst.discard(6)
print(lst)

{1, 2, 3, 5}

In [55]:
lst = {1,2,3,4,5,6,10,11,18}
a=lst.pop()
print(lst)
print(a)
b=lst.pop()
print(b)

{2, 3, 4, 5, 6, 10, 11, 18}
1
2

In [ ]:
Assignment 3
# how to re assign the value if the data is deleted

In [57]:
lst1 = {1,2,3,4,5,6,9}
lst2 = {6,7,8,9}
print(lst1 | lst2) # union function
print(lst1.union(lst2)) #alternative command of union
print(lst2 & lst1) # intersection
print(lst1.intersection(lst2))
print(lst1 - lst2)
print(lst1.difference(lst2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{9, 6}
{9, 6}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
# issubset or issuperset

print(lst2.issubset(lst1))
print(lst1.issuperset(lst2))

In [58]:
# frozen sets

lst1 = frozenset([0,1,2,3])
lst2 = frozenset([0,1,2,7,8])
print(lst2)

frozenset({0, 1, 2, 7, 8})

In [4]:
co_vid = {1:'rajiv',2:'shyam'}
co_vid[1] = 'raju'
print(type(co_vid))
print(co_vid[1])
print(co_vid.get(1))
print(co_vid.get(3))

<class 'dict'>
raju
raju
None

In [5]:
# pop item it will delete data stcak base means LIFO it will delete last key '3' again execute same command delete '2'

co_vid = {1:'rajiv',2:'shyam',3:'sam'}
print(co_vid)
co_vid.popitem()
print(co_vid)
co_vid.popitem()
print(co_vid)

{1: 'rajiv', 2: 'shyam', 3: 'sam'}
{1: 'rajiv', 2: 'shyam'}
{1: 'rajiv'}

In [6]:
co_vid = {1:'rajiv',2:'shyam',3:'sam'}
print(co_vid)
print(co_vid)
co_vid.popitem()
print(co_vid)

{1: 'rajiv', 2: 'shyam', 3: 'sam'}
{1: 'rajiv', 2: 'shyam', 3: 'sam'}
{1: 'rajiv', 2: 'shyam'}

In [8]:
# copy a.copy
co_vid = {1:'rajiv',2:'shyam'}

co_vaxine = co_vid.copy()
print(co_vaxine)
print(co_vid)
print(type(co_vaxine))
print(type(co_vid))
print(id(co_vaxine))
print(id(co_vid))

{1: 'rajiv', 2: 'shyam'}
{1: 'rajiv', 2: 'shyam'}
<class 'dict'>
<class 'dict'>
2566763804928
2566763803008

In [11]:
#dict.fronkeys

sub = dict.fronkeys(('math','english','hindi'),'0')
print(sub)

AttributeError: type object 'dict' has no attribute 'fronkeys'

In [12]:
lid=[]
print(dir(lid))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [13]:
#dict operation

squ = {2:4,3:9,4:16,5:25}
for i in squ:
    print(i,)
print("no data available")

2
3
4
5
no data available

In [14]:
squ = {2:4,3:9,4:16,5:25}
d_sq = {k:v for k,v in squ.items() if v>9}
print(d_sq)

{4: 16, 5: 25}